<div class="container-sm text-start bg-light">
  <div class="row">
     <div class="col">
      <p><b><%= @question %></b></p>
      <p> - Your Question</p>
    </div>
  </div>
</div>
<br>

<div class="container-sm text-start bg-light">
  <div class="row">
    <p><b><%= @answer %></b></p>
    <p> - Your Coach</p>
  </div>
</div>
<br>
<%= link_to'Ask a new question', ask_path %>
